@use "./base.scss";

// put your custom CSS here!

.explorer-ul {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.content {
  padding: 20px;
}

.backlinks > ul > li {
  font-size: 0.85rem;
}